/* Register.css and Login.css */

.container-fluid {
  background-color: #f9f9f9;
  height: 100vh;
}

.left-side {
  text-align: center;
}

.left-side img {
  max-width: 700px;
}

.right-side h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f63f64;
}

.right-side .lead {
  font-size: 1.2rem;
  color: #f63f64;
}

.register-form .form-control,
.login-form .form-control {
  height: 45px;
  padding: 10px;
}

.error-feedback {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
.btn {
  background-color: #ed1b2f;
}
