.card-buttons {
  margin-top: 20px;
}

.cancel-btn,
.blast-btn {
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.cancel-btn {
  background-color: #f8f9fa;
  color: #dc3545;
  border: 1px solid #dc3545;
}

.cancel-btn:hover {
  background-color: #f5c2c7;
}

.blast-btn {
  background-color: #ff5c5c;
  color: #fff;
}

.blast-btn:hover {
  background-color: #e04e4e;
}
.modal {
  display: flex; /* Use flex to center the modal */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px; /* Adjust the width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.modal-content label {
  color: black;
  font-weight: bold;
}
.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

button {
  margin-top: 10px;
}
